params.cpus = 1
params.memory = "4g"

profiles {
  conda {
    params.enable_conda = true
  }
  debug { process.beforeScript = 'echo $HOSTNAME' }
  test {
    params.cpus = 1
    params.memory = "3g"
    timeline.enabled = false
    report.enabled = false
    trace.enabled = false
    dag.enabled = false
  }
}

// Export this variable to prevent local Python libraries from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

cleanup = true
conda.createTimeout = '1 h'

VERSION = '1.1.2'

manifest {
  name = 'TRON-Bioinformatics/vafator'
  author = 'Pablo Riesgo-Ferreiro'
  homePage = 'https://github.com/TRON-Bioinformatics/vafator'
  description = 'A tool to annotate VCF files with variant allele frequencies and depth of coverage'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = VERSION
}

params.help_message = """
VAFator $VERSION

Usage:
    nextflow run main.nf --input_files input_files

This workflow implements the annotation of a tumor/normal pair VCF with the
variant allele frequencies, counts and depth of coverage extracted from the
corresponding BAM files.

Input:
    * input_files: the path to a tab-separated values file containing in each
    row the sample name, path to the VCF file, a comma-separated list of normal
    BAMs and a comma-separated list of normal BAMs
    The input file does not have header!
    Example input file:
    identifier	/path/to/your/file.vcf  /path/to/your/normal_replica1.bam,/path/to/your/normal_replica2.bam /path/to/your/tumor_replica1.bam,/path/to/your/tumor_replica2.bam

Optional input:
    * output: the folder where to publish output
    * skip_multiallelic_filter: skip the filtering of multiallelics by frequency in the tumor (only highest frequency variant at the same position is kept)
    * base_call_quality: minimum base call quality, reads with values below will be filtered out (default: 30)
    * mapping_quality: minimum mapping quality, reads with values below will be filtered out (default: 1)

Output:
    * Annotated VCF file
    """
