pandas>=3.0.1,<4
# pysam pinned: above 0.21.0 base qualities show up wrong in the presence of soft clipping/insertions/overlapping read pairs or a combination of these factors 
pysam==0.21.0
cyvcf2>=0.32.1,<0.33
logzero>=1.7.0,<2
pybedtools>=0.12.0,<0.13
numpy>=2.4.3,<3
scipy>=1.17.1,<2
setuptools
pytest
pytest-cov